{% extends "feed/layout.html" %} {% load static %} {% block searchform %}
{% comment %} <form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Search users.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form> {% endcomment %}
{% endblock searchform %}
{% block myprofileactive %}active{% endblock myprofileactive %}
{% block mobmyprofileactive %}active{% endblock mobmyprofileactive %}

{% block content %}
<br /><br />
<div class="main-content">
  <div class="container mt-7">
    <div class="row">
      <div class="col-xl-8 order-xl-2 mx-auto mb-5 mb-xl-0">
        <div class="shadow">
          {% if request.user == u %}
          {% else %} {% if button_status == 'not_friend' %}
          {% elif button_status == 'friend_request_sent' %}
          {% elif button_status == 'friend_request_received' %}
          <div class="row p-3 d-flex justify-content-between align-items-center" style="background-color:#eeeeee; margin-bottom:3vh;">
            <div class="col-md-6">
              <p><b><i class="bi bi-person-plus-fill"></i> {{ u.username }}</b> sent you a friend request</p>
            </div>
            <div class="col-md-6">
              <div class="row">
                <small><a class="btn btn-success mr-2" href="/users/friend-request/accept/{{ u.id }}">Accept Request</a></small>
                <small><a class="btn btn-danger" href="/users/friend-request/delete/{{ u.id }}">Reject Request</a></small>
              </div>
            </div>
          </div>
          {% endif %} {% endif %}
          <div class="row mx-2">
            <div class="col-6 col-sm-5 col-md-5 col-lg-4 order-lg-4">
              <div class="card-profile-image">
                <a href="{{ u.profile.image.url }}">
                  <img src="{{ u.profile.image.url }}" class="rounded-circle" width="140px" height="140px"
                    style="object-fit:cover;" />
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-7 col-md-7 col-lg-8 order-lg-8">
              <div class="row my-2">
                <h3 class="profile-user-name">{{ u.username }}</h3>
              </div>
              
              <div class="row">
                <div class="profile-stats my-1">
                  <span class="profile-stat-count">{{ post_count }}</span>
                  <span class="description"><a href="{% url 'user-posts' u.username %}">Posts</a></span>
                  <span class="profile-stat-count">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span class="profile-stat-count">{{ u.profile.friends.count }}</span>
                  {% if request.user == u %}
                  <span class="description"><a href="{% url 'friend_list' %}">Friends</a></span>
                  {% else %}
                  <span class="description">Friends</span>
                  {% endif %}
                  {% comment %} <span class="profile-stat-count">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span class="profile-stat-count">206 following</span> {% endcomment %}
                </div>
              </div>
              <div class="row my-2">
                {% if request.user == u %}
                <a class="btn btn-outline-dark mr-2" href="{% url 'edit_profile' %}">Edit Profile</a>
                <div class="dropdown">
                  <button class="btn btn-secondary btn-outline-dark dropdown-toggle" type="button"
                    id="SettingsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path
                        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="SettingsDropdownButton">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
                </div>
                {% else %} {% if button_status == 'not_friend' %}
                <small><a class="btn btn-primary mx-4" href="/users/friend-request/send/{{ u.id }}">Add Friend</a></small>
                {% elif button_status == 'friend_request_sent' %}
                <small><a class="btn btn-warning mx-4" href="/users/friend-request/cancel/{{ u.id }}">Cancel Request</a></small>
                {% elif button_status == 'friend_request_received' %}
                {% else %}
                <small><a class="btn btn-danger mx-4" href="/users/friend/delete/{{ u.id }}">UnFriend</a></small>
                {% endif %} {% endif %}
              </div>
            </div>
          </div>
          <div class="row mx-3">
            <div class="profile-desc my-2">
              <strong class="profile-stat-count">{{ u.profile.name }}</strong><br>
              <span class="profile-stat-count">{{ u.profile.bio }}</span><br>
              {% if u.profile.link %}
              <a class="profile-stat-count" target="_blank" rel="noopener noreferrer" href="{{ u.profile.link }}">{{ u.profile.link }}</a>
              {% endif %}
            </div>
          </div>

          {% comment %} Feed {% endcomment %}
          <div class="container">
            <div class="row">
              {% if not posts %}
              <div class="col-md-12 py-5 my-5 text-center border-top">
                <h3>No posts to display</h3>
              </div>
                
              {% endif %}
              {% for post in posts %}
              <div class="col-md-4">
                <div class="card card-signin my-3">
                  <a href="{% url 'post-detail' post.id %}"><img class="card-img-top" src="{{ post.pic.url }}"
                      alt="" /></a>
                  <div class="card-body">
                    <p class="card-text text-dark">{{ post.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% comment %} End Feed {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}